.header_bar {
  color: var(--white-most-text);
  padding: 20px;
  font: 30px / 32px 'Fredoka One';
  text-align: center;
  background: var(--darkest-purple-header-color);
  width: 100%;
  height: 72px;
  box-sizing: border-box;
  text-transform: capitalize;
  margin: 0 0 50px;
}
.header_bar_logo {
  position: absolute;
  left: 0;
  height: 52px;
  width: auto;
  margin: -10px 0 0 40px;
}
.header_bar_btn {
  position: absolute;
  right: 0;
  font: 16px / 18px 'Fredoka One';
  padding: 12px 20px;
  background: var(--base-purple-logo-bg);
  margin: -5px 40px 0 0;
  text-transform: uppercase;
  border-radius: 999px;
  transition: all 0.2s linear;
}
.header_bar_btn, .header_bar_btn:active, .header_bar_btn:visited {
  color: var(--light-purple-logo-text);
}
.header_bar_btn:hover {
  color: var(--white-most-text);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  right: 0;
  font: 16px / 18px 'Fredoka One';
  margin: -5px 50px 0px 0px;
  transition: all 0.2s linear;
  display: inline-block;
  width: 62.4px;
  height: 40px;
}

/* Style The Dropdown Button */
.dropbtn {
  background: none;
  border-radius: 999px;
  font: 16px / 18px 'Fredoka One';
  border: none;
  cursor: pointer;
}

.dropdown-icon {
  height: 40px;
  width: auto;  
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
  left: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on click */
.show {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
// .dropdown:hover .dropbtn {
//   background-color: #3e8e41;
// }
